//main: ../style.less

.text-center {
   text-align: center ;
}

.img {
   display: block;
   max-width: 100%;
   height: auto;

}

.text-right {//прижать текст к правой части блока
   text-align: right;
}

.hide {
    display: none;

 }